@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Bem-vindo</h2>
    <br />
    <p align="justify">Tomar uma decisão é sempre um ato de muita responsabilidade e que envolve emoções, razão, aprendizado e consequências. Comprar ou não esse ou aquele carro? A segurança deve ser um fator considerado? O consumo também deve ser considerado? Você conhece pessoas que se arrependeram de uma determinada compra de algum carro? Você já pesquisou, mesmo assim continua com duvidas? Enfim, a escolha do carro ideal passa por inúmeras questões aparentemente simples, óbvias, mas cujas respostas são mais complexas do que imaginamos.</p>
    <br /><br />
    <p>
        <a href="Filtros/Index" class="btn btn-success btn-lg">
            Faça um teste&nbsp;
            <span class="glyphicon glyphicon-share-alt"></span>
        </a>
    </p>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <footer>
            <p>© Copyright @DateTime.Now.Year Meu Carro Certo</p>
        </footer>
    </div>
</div>
