@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Bem-vindo</h2>
    <br />
    <p align="justify">Na aplicação Meu Carro Certo, você encontra de forma rápida e fácil o carro ideal para o seu perfil.</p>
    <br /><br />
    <p>
        <a href="Filtros/Index" class="btn btn-success btn-lg">
            Começar&nbsp;
            <span class="glyphicon glyphicon-share-alt"></span>
        </a>
    </p>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <footer>
            <p>© Copyright @DateTime.Now.Year Meu Carro Certo</p>
        </footer>
    </div>
</div>
